## Python Libraries - Pandas - Describing Data

You will be working with files of varied shape and sizes in the Pandas. One you have loaded the data in the dataframes, it is necessary that you check the created dataframe. However, it would be inefficieent to print the entire dataframe every time. Hence, you should learn how to print limited number of rows in a dataframe.

In [1]:
# import the required libraries
import pandas as pd

In [2]:
# Read data from the file 'sales.xlsx'
sales = pd.read_excel("sales.xlsx")
sales.head()

# Check the created dataframe

   Market           Region  No_of_Orders    Profit     Sales
0  Africa   Western Africa           251 -12901.51  78476.06
1  Africa  Southern Africa            85  11768.58  51319.50
2  Africa     North Africa           182  21643.08  86698.89
3  Africa   Eastern Africa           110   8013.04  44182.60
4  Africa   Central Africa           103  15606.30  61689.99

In [5]:
# Read the file with 'Region' as the index column
sales.info()

# Check the created dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Market        23 non-null     object
 1   Region        23 non-null     object
 2   No_of_Orders  23 non-null     int64
 3   Profit        23 non-null     float64
 4   Sales         23 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.0+ KB

In [6]:
# Printing first 5 entries from a dataframe
sales.describe()

       No_of_Orders        Profit          Sales
count     23.000000     23.000000      23.000000
mean     366.478261  28859.944783  206285.108696
std      246.590361  27701.193773  160589.886606
min       37.000000 -16766.900000    8190.740000
25%      211.500000  12073.085000   82587.475000
50%      356.000000  20948.840000  170416.310000
75%      479.500000  45882.845000  290182.375000
max      964.000000  82091.270000  656637.140000

In [10]:
# Printing first 8 entries of a dataframe
sales.columns

Index(['Market', 'Region', 'No_of_Orders', 'Profit', 'Sales'], dtype='object')

In [11]:
# Printing last 5 entries of the dataframe
sales.shape

(23, 5)

In [31]:
# Printing last 3 entries of the dataframe
sales[1:20:2]

          Market             Region  No_of_Orders    Profit      Sales
1         Africa    Southern Africa            85  11768.58   51319.50
3         Africa     Eastern Africa           110   8013.04   44182.60
5   Asia Pacific       Western Asia           382 -16766.90  124312.24
7   Asia Pacific  Southeastern Asia           533  20948.84  329751.38
9   Asia Pacific       Eastern Asia           414  72805.10  315390.77
11        Europe     Western Europe           964  82091.27  656637.14
13        Europe    Northern Europe           367  43237.44  252969.09
15         LATAM      South America           496  12377.59  210710.49
17         LATAM          Caribbean           288  13529.59  116333.05
19          USCA        Southern US           255  19991.83  148771.91

#### Summarising the dataframes

A dataframe can have multiple columns and it is very important to understand what each column stores. You must be familiar with the column names, the data it stores, data type of each column, etc. Let's see different commands that will help you to do that.

In [ ]:
# Summarising the dataframe structure

In [ ]:
# Summary of data stored in each column

In [ ]:
# Graphically summarising the spread of the columns - Profit and Sales

## Python Libraries - Pandas - Indexing and Slicing

In this section, you will:

* Select rows from a dataframe
* Select columns from a dataframe
* Select subsets of dataframes

### Selecting Rows

Selecting rows in dataframes is similar to the indexing you have seen in numpy arrays. The syntax ```df[start_index:end_index]``` will subset rows according to the start and end indices.

In [29]:
# Read data from the file 'sales.xlsx'
import pandas as pd
sales = pd.read_excel("sales.xlsx")

sales[:5]

# Check the created dataframe
# Remember - you should print limited number of entries to check the dataframe

   Market           Region  No_of_Orders    Profit     Sales
0  Africa   Western Africa           251 -12901.51  78476.06
1  Africa  Southern Africa            85  11768.58  51319.50
2  Africa     North Africa           182  21643.08  86698.89
3  Africa   Eastern Africa           110   8013.04  44182.60
4  Africa   Central Africa           103  15606.30  61689.99

In [ ]:
# Selecting first 5 rows of the dataframe
sales[0:5]

In [35]:
# Selecting all the even indices of the dataframe
sales[2::2]

          Market           Region  No_of_Orders    Profit      Sales
2         Africa     North Africa           182  21643.08   86698.89
4         Africa   Central Africa           103  15606.30   61689.99
6   Asia Pacific    Southern Asia           469  67998.76  351806.60
8   Asia Pacific          Oceania           646  54734.02  408002.98
10  Asia Pacific     Central Asia            37  -2649.76    8190.74
12        Europe  Southern Europe           338  18911.49  215703.93
14        Europe   Eastern Europe           241  25050.69  108258.93
16         LATAM  Central America           930  74679.54  461670.28
18          USCA       Western US           490  44303.65  251991.83
20          USCA       Eastern US           443  47462.04  264973.98
22          USCA           Canada            49   7246.62   26298.81

### Selecting Columns

There are two simple ways to select a single column from a dataframe:

-  ```df['column']``` or ```df.column``` return a series
-  ```df[['col_x', 'col_y']]``` returns a dataframe

In [45]:
# Select the column 'Profit' from the dataframe 'Sales'. Output must be in the form of a dataframe.
import pandas as pd
sales = pd.read_excel("sales.xlsx")
sales.iloc[[2],[0,1,4]]

   Market        Region     Sales
2  Africa  North Africa  86698.89

In [4]:
# Check the type of the sliced data
import pandas as pd
sales = pd.read_excel("sales.xlsx")
sales[(sales["Profit"]>20000) & (sales["Sales"]<100000)]

   Market        Region  No_of_Orders    Profit     Sales
2  Africa  North Africa           182  21643.08  86698.89

In [7]:
# Select the column 'Profit' from the dataframe 'Sales'. Output must be in the form of a series.
sales.rename(columns={"Sales":"sales in year"})

          Market             Region  No_of_Orders    Profit  sales in year
0         Africa     Western Africa           251 -12901.51       78476.06
1         Africa    Southern Africa            85  11768.58       51319.50
2         Africa       North Africa           182  21643.08       86698.89
3         Africa     Eastern Africa           110   8013.04       44182.60
4         Africa     Central Africa           103  15606.30       61689.99
5   Asia Pacific       Western Asia           382 -16766.90      124312.24
6   Asia Pacific      Southern Asia           469  67998.76      351806.60
7   Asia Pacific  Southeastern Asia           533  20948.84      329751.38
8   Asia Pacific            Oceania           646  54734.02      408002.98
9   Asia Pacific       Eastern Asia           414  72805.10      315390.77
10  Asia Pacific       Central Asia            37  -2649.76        8190.74
11        Europe     Western Europe           964  82091.27      656637.14
12        Europe    Southern Europe           338  18911.49      215703.93
13        Europe    Northern Europe           367  43237.44      252969.09
14        Europe     Eastern Europe           241  25050.69      108258.93
15         LATAM      South America           496  12377.59      210710.49
16         LATAM    Central America           930  74679.54      461670.28
17         LATAM          Caribbean           288  13529.59      116333.05
18          USCA         Western US           490  44303.65      251991.83
19          USCA        Southern US           255  19991.83      148771.91
20          USCA         Eastern US           443  47462.04      264973.98
21          USCA         Central US           356  33697.43      170416.31
22          USCA             Canada            49   7246.62       26298.81

In [8]:
# Check the type of the sliced data
sales.head()

   Market           Region  No_of_Orders    Profit     Sales
0  Africa   Western Africa           251 -12901.51  78476.06
1  Africa  Southern Africa            85  11768.58  51319.50
2  Africa     North Africa           182  21643.08  86698.89
3  Africa   Eastern Africa           110   8013.04  44182.60
4  Africa   Central Africa           103  15606.30  61689.99

#### Selecting Multiple Columns 

You can select multiple columns by passing the list of column names inside the ```[]```: ```df[['column_1', 'column_2', 'column_n']]```.

In [9]:
# Selecting multiple columns from a dataframe
sales.["Training"]=sales.Rating.apply(lambda x: "Yes" if x<3.5 else "No")

SyntaxError: invalid syntax (<ipython-input-9-be73293d7e09>, line 2)

In [18]:
import numpy as np
import pandas as pd

df = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/NMgEjwkAEGGQZBoNYGr9Ld7w0/rating.csv')
df["Training"]=df.Rating.apply(lambda x: "Yes" if x<3.5 else "No")
# Provide your answer below
for i in ['Finance', 'HR', 'Sales', 'Marketing']:
    print(i, len(Rating[(Rating['Training'] == 'No') & (Rating['Department'] == i)]) / len(Rating[Rating['Department'] == i]) * 100)

NameError: name 'Rating' is not defined

### Label and Position Based Indexing: ```df.loc``` and ```df.iloc```

You have seen some ways of selecting rows and columns from dataframes. Let's now see some other ways of indexing dataframes, which pandas recommends, since they are more explicit (and less ambiguous).

There are two main ways of indexing dataframes:
1. Label based indexing using ```df.loc```
2. Position based indexing using ```df.iloc```

Using both the methods, we will do the following indexing operations on a dataframe:
* Selecting single elements/cells
* Selecting single and multiple rows
* Selecting single and multiple columns
* Selecting multiple rows and columns

**Label-based Indexing**

In [33]:
import numpy as np
import pandas as pd

df = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/NMgEjwkAEGGQZBoNYGr9Ld7w0/rating.csv')
df.reset_index(inplace=True)
df.set_index(["Office", "Department"], inplace=True)
# df.loc[["Office","Department"], ["ID","Rating"]]
df.iloc[0:6,1:3]
# print(df.head())

                         ID  Rating
Office    Department
New Delhi Finance     U2F26     3.4
          Marketing   U2M61     3.9
          Sales       U1S15     2.8
Mumbai    HR          U1H87     2.1
New Delhi Sales       U1S51     4.6
          HR          U1H78     3.8

In [ ]:
# Select the row with index label as 'Canada' and 'Western Africa'

In [ ]:
# Select the row with index label as 'Canada' and 'Western Africa' along with the columns 'Profit' and 'Sales'

**Position-based Indexing**

In [ ]:
# Select the top 5 rows and all the columns starting from second column

In [ ]:
# Select all the entries with positive profit

In [ ]:
# Count the number of entries in the dataframe with positive profit

In [ ]:
# Select all the enries in Latin America and European market where Sales>250000

## Python Libraries - Pandas - Operations on Dataframes

In [ ]:
# Checking the dataframe 'sales'

In [ ]:
# Converting the Sales amount to Sales in thousand


# Checking the dataframe 'sales'

In [ ]:
# Renaming the column: 'Sales' to 'Sales in thousand'

In [ ]:
# Checking the dataframe 'sales'

In [ ]:
# Help on rename function

In [ ]:
# Role of inplace as an attribute

In [ ]:
# Creating a new column: 'Positive Profit' using apply function and lambda operation

In [ ]:
# Resetting the index


# Setting hierarchical index: Market, Region


# Checking the dataframe

In [ ]:
# Fetching the rows under African market

In [ ]:
# Fetching the rows under African and European market

In [ ]:
# Fetching the rows under Western Europe in European market

In [ ]:
# Printing summary of the sales dataframe